@charset "utf-8";

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/geometria.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria.svg#geometria') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-Bold';
	src: url('../fonts/geometria-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-bold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-bold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-bold.svg#geometria-bold') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-BoldItalic';
	src: url('../fonts/geometria-bolditalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-bolditalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-bolditalic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-bolditalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-bolditalic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-bolditalic.svg#geometria-bolditalic') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-ExtraBold';
	src: url('../fonts/geometria-extrabold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-extrabold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-extrabold.svg#geometria-extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-ExtraBoldItalic';
	src: url('../fonts/geometria-extrabolditalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-extrabolditalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-extrabolditalic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-extrabolditalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-extrabolditalic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-extrabolditalic.svg#geometria-extrabolditalic') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-ExtraLight';
	src: url('../fonts/geometria-extralight.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-extralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-extralight.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-extralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-extralight.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-extralight.svg#geometria-extralight') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-ExtraLightItalic';
	src: url('../fonts/geometria-extralightitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-extralightitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-extralightitalic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-extralightitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-extralightitalic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-extralightitalic.svg#geometria-extralightitalic') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-Heavy';
	src: url('../fonts/geometria-heavy.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-heavy.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-heavy.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-heavy.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-heavy.svg#geometria-heavy') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-HeavyItalic';
	src: url('../fonts/geometria-heavyitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-heavyitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-heavyitalic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-heavyitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-heavyitalic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-heavyitalic.svg#geometria-heavyitalic') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-Italic';
	src: url('../fonts/geometria-italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-italic.svg#geometria-italic') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-Light';
	src: url('../fonts/geometria-light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-light.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-light.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-light.svg#geometria-light') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-LightItalic';
	src: url('../fonts/geometria-lightitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-lightitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-lightitalic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-lightitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-lightitalic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-lightitalic.svg#geometria-lightitalic') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-Medium';
	src: url('../fonts/geometria-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-medium.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-medium.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-medium.svg#geometria-medium') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-MediumItalic';
	src: url('../fonts/geometria-mediumitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-mediumitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-mediumitalic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-mediumitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-mediumitalic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-mediumitalic.svg#geometria-mediumitalic') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-Thin';
	src: url('../fonts/geometria-thin.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-thin.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-thin.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-thin.svg#geometria-thin') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

@font-face {
	font-family: 'Geometria-ThinItalic';
	src: url('../fonts/geometria-thinitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-thinitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/geometria-thinitalic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/geometria-thinitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/geometria-thinitalic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/geometria-thinitalic.svg#geometria-thinitalic') format('svg'); /* Chrome < 4, Legacy iOS */
	font-display: swap;
}

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,input,button {
vertical-align: baseline;font-family: 'Geometria-Light';font-weight: inherit;border:none;font-style: inherit;font-size: 100%;outline: 0;padding: 0;margin: 0;border: 0;}
/* remember to define focus styles! */
:focus {outline: 0;}
a {text-decoration:none;color:#383837;padding-bottom:2px;}
body {background: #fff;line-height: 1;color: #3b3b3e;font-size:100%;position:relative;width:100%;}
ol, ul {list-style: none;}
/* tables still need cellspacing="0" in the markup */
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {font-weight: normal;text-align: left;}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
*, *:before, *:after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
	width: 8px; /* ширина для вертикального скролла */
	height: 8px; /* высота для горизонтального скролла */
	background-color: transparent;
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-radius: 0;
	box-shadow: none;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #000000;
}
/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
	display: none
}
::-webkit-scrollbar-button:vertical:end:increment {
	display: none
}
::-webkit-scrollbar-button:horizontal:start:decrement {
	display: none
}
::-webkit-scrollbar-button:horizontal:end:increment {
	display: none
}

/* Flexboxgrid 6.3.1 */
.container-fluid{margin-right:auto;margin-left:auto;padding-right:2rem;padding-left:2rem}.row{box-sizing:border-box;display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex:0 1 auto;-webkit-box-flex:0;flex:0 1 auto;-ms-flex-direction:row;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:0;margin-left:0}.row.reverse{-ms-flex-direction:row-reverse;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;flex-direction:row-reverse}.col.reverse{-ms-flex-direction:column-reverse;-webkit-box-orient:vertical;-webkit-box-direction:reverse;flex-direction:column-reverse}.col-xs,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{box-sizing:border-box;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto;padding-right:0;padding-left:0}.col-xs{-webkit-flex-grow:1;-ms-flex-positive:1;-webkit-box-flex:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-xs-1{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}.col-xs-2{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}.col-xs-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-xs-4{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}.col-xs-5{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}.col-xs-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-xs-7{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}.col-xs-8{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}.col-xs-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-xs-10{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}.col-xs-11{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}.col-xs-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-xs-offset-1{margin-left:8.333%}.col-xs-offset-2{margin-left:16.667%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-4{margin-left:33.333%}.col-xs-offset-5{margin-left:41.667%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-7{margin-left:58.333%}.col-xs-offset-8{margin-left:66.667%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-10{margin-left:83.333%}.col-xs-offset-11{margin-left:91.667%}.start-xs{-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;text-align:start}.center-xs{-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center}.end-xs{-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;text-align:end}.top-xs{-ms-flex-align:start;-webkit-box-align:start;align-items:flex-start}.middle-xs{-ms-flex-align:center;-webkit-box-align:center;align-items:center}.bottom-xs{-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}.around-xs{-ms-flex-pack:distribute;justify-content:space-around}.between-xs{-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}.first-xs{-ms-flex-order:-1;-webkit-box-ordinal-group:0;order:-1}.last-xs{-ms-flex-order:1;-webkit-box-ordinal-group:2;order:1}@media only screen and (min-width:48em){.container{width:46rem}.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{box-sizing:border-box;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto;padding-right:0;padding-left:0}.col-sm{-webkit-flex-grow:1;-ms-flex-positive:1;-webkit-box-flex:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-sm-1{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}.col-sm-2{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}.col-sm-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-sm-4{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}.col-sm-5{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}.col-sm-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-sm-7{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}.col-sm-8{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}.col-sm-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-sm-10{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}.col-sm-11{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}.col-sm-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-sm-offset-1{margin-left:8.333%}.col-sm-offset-2{margin-left:16.667%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-4{margin-left:33.333%}.col-sm-offset-5{margin-left:41.667%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-7{margin-left:58.333%}.col-sm-offset-8{margin-left:66.667%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-10{margin-left:83.333%}.col-sm-offset-11{margin-left:91.667%}.start-sm{-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;text-align:start}.center-sm{-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center}.end-sm{-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;text-align:end}.top-sm{-ms-flex-align:start;-webkit-box-align:start;align-items:flex-start}.middle-sm{-ms-flex-align:center;-webkit-box-align:center;align-items:center}.bottom-sm{-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}.around-sm{-ms-flex-pack:distribute;justify-content:space-around}.between-sm{-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}.first-sm{-ms-flex-order:-1;-webkit-box-ordinal-group:0;order:-1}.last-sm{-ms-flex-order:1;-webkit-box-ordinal-group:2;order:1}}@media only screen and (min-width:62em){.container{width:61rem}.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{box-sizing:border-box;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto;padding-right:0;padding-left:0}.col-md{-webkit-flex-grow:1;-ms-flex-positive:1;-webkit-box-flex:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-md-1{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}.col-md-2{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}.col-md-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-md-4{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}.col-md-5{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}.col-md-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-md-7{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}.col-md-8{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}.col-md-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-md-10{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}.col-md-11{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}.col-md-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-md-offset-1{margin-left:8.333%}.col-md-offset-2{margin-left:16.667%}.col-md-offset-3{margin-left:25%}.col-md-offset-4{margin-left:33.333%}.col-md-offset-5{margin-left:41.667%}.col-md-offset-6{margin-left:50%}.col-md-offset-7{margin-left:58.333%}.col-md-offset-8{margin-left:66.667%}.col-md-offset-9{margin-left:75%}.col-md-offset-10{margin-left:83.333%}.col-md-offset-11{margin-left:91.667%}.start-md{-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;text-align:start}.center-md{-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center}.end-md{-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;text-align:end}.top-md{-ms-flex-align:start;-webkit-box-align:start;align-items:flex-start}.middle-md{-ms-flex-align:center;-webkit-box-align:center;align-items:center}.bottom-md{-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}.around-md{-ms-flex-pack:distribute;justify-content:space-around}.between-md{-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}.first-md{-ms-flex-order:-1;-webkit-box-ordinal-group:0;order:-1}.last-md{-ms-flex-order:1;-webkit-box-ordinal-group:2;order:1}}@media only screen and (min-width:75em){.container{width:71rem}.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{box-sizing:border-box;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto;padding-right:0;padding-left:0}.col-lg{-webkit-flex-grow:1;-ms-flex-positive:1;-webkit-box-flex:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-lg-1{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}.col-lg-2{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}.col-lg-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-lg-4{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}.col-lg-5{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}.col-lg-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-lg-7{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}.col-lg-8{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}.col-lg-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-lg-10{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}.col-lg-11{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}.col-lg-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-lg-offset-1{margin-left:8.333%}.col-lg-offset-2{margin-left:16.667%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-4{margin-left:33.333%}.col-lg-offset-5{margin-left:41.667%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-7{margin-left:58.333%}.col-lg-offset-8{margin-left:66.667%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-10{margin-left:83.333%}.col-lg-offset-11{margin-left:91.667%}.start-lg{-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;text-align:start}.center-lg{-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center}.end-lg{-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;text-align:end}.top-lg{-ms-flex-align:start;-webkit-box-align:start;align-items:flex-start}.middle-lg{-ms-flex-align:center;-webkit-box-align:center;align-items:center}.bottom-lg{-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}.around-lg{-ms-flex-pack:distribute;justify-content:space-around}.between-lg{-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}.first-lg{-ms-flex-order:-1;-webkit-box-ordinal-group:0;order:-1}.last-lg{-ms-flex-order:1;-webkit-box-ordinal-group:2;order:1}}
.col-5 {flex: 1 0 18%;margin: 5px;display: flex;align-items: center;justify-content: center;}

.container {width: 100%;max-width:1450px;margin: 0 auto}

/* Всплывающая форма начата */
.absCenter { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; text-align: center; flex-direction: column}

.d--close,.d--Inner a,.d--but, .d--show, .ani--box
{-moz-transition: all 0.5s;-webkit-transition: all 0.5s;-o-transition: all 0.5s;-ms-transition: all 0.5s}

.d--dialog{display: none;background-color: rgba(0,0,0,0.5);position: fixed;top:0;left:0;width:100%;height:100%;z-index: 1000;}
.d--inner {background-color: #fff;padding:40px 40px;position: relative;min-width: 320px;max-width: 400px;max-height:90vh;-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2); box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);text-align: center;}
.d--inner h2{font-family: 'Montserrat Bold',Verdana,sans-serif;font-size: 24px; font-weight: 600;line-height: 32px;margin-bottom:14px;text-align: left}
.d--inner > div{display: none}
.d--inner > .d--active{display: block}

.d--close{position: absolute;right: 15px;top:15px;border-radius: 50%;width: 18px;height:18px;cursor:pointer;fill:#000;stroke:#000;}
.d--close:hover{fill:#545454;stroke:#545454;}

.d--title{font-size: 14px;font-weight: 600;color:#000;width: 70%;margin: 0 auto;padding-bottom: 10px}

.d--inner .d--input{width: 80%;height: 44px;border-radius: 0px;border-style: none;border-width: 1px;border-bottom: 1px solid #ccc;font-family: 'Montserrat Regular', 'OpenSans-Regular';box-sizing: border-box;padding-left: 12px;background-color: white;background-image: none;margin: 0;display: inline-block;outline: 0;color:#000;font-size: 1rem;}
.d--inner textarea.d--input{min-height: 90px}

.d--submit {margin-top: 10px;text-transform: uppercase}
.d--but {outline: 0;display: inline-block;padding: 0 27px;text-shadow: none;text-decoration: none;background-color: #000;color: #fff;min-width: 110px;height: 44px;line-height: 44px;border-radius: 0;border-style: none;font-family: 'Montserrat Bold';font-size: 13px;letter-spacing: 2px;cursor: pointer;border:1px solid #000}
.d--but:hover {background-color: #ffffff;color: #000000;}

.d--row {margin-bottom: 10px}

.d--row.f--error .d--bar:before,.d--row.f--error .d--bar:after{background-color: #ff0000}
.d--row.f--error .d--input{border-bottom: 1px solid #ff0000}

@media all and (max-width: 545px) {
	.d--Inner {min-width: 320px;max-width: 320px;padding: 40px 20px 40px 20px;}
}

.d--additional {margin-top: 10px;font-size: 12px;text-align: right}
.d--additional div {border-bottom: 1px dotted #333;display: inline-block;cursor: pointer}

.d--hire .input-row:nth-child(4){display: none}

.d--row.d--error .d--bar:before,.d--row.d--error .d--bar:after{background-color: #ff0000}
.d--row.d--error .d--input{border-bottom: 1px solid #ff0000}

.js--error-tooltip {color:var(--error);text-align: left;width: 80%;margin: 0 auto;font-size: 12px}

.d--show:hover {border-color: transparent}

.f--MAIL {display: none}

.d--inf {border: 1px dotted #1771f1;width: 18px;height:18px;display: inline-flex;align-items: center;justify-content: center;color:#1771f1;border-radius: 50%;margin-right: 5px}
.d--MAIL {display: none}
/* Всплывающая форма окончена */

header {height: 120px;background-color: #ffdd00}
main {padding: 50px 0 0 0}
footer {}

h1 {color:#534a10;font-size: 33px;font-family: Geometria-Medium}

/* Breadcrumbs */
.breadcrumbs {}
.breadcrumbs span[itemprop="name"], .breadcrumbs--item{font-size: 23px;color:#7b6e46}
.breadcrumbs--item {display: inline-block}

/* Fake List */
.select--list {position: relative;min-width: 180px}
.select--list svg{width: 14px;height: 18px;margin-right: 5px}
.select--list-items {display: none;opacity: 0;visibility: hidden;position: absolute;top:100%;left:0;width: 100%;height: auto;background-color: #fff;z-index: 10;padding: 15px 0;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px}
.select--list-item {display: flex;align-items: center;justify-content: flex-start;cursor: pointer;padding: 5px 10px;user-select: none}
.select--list-item:hover {background-color: var(--back)}
.select--list-item:last-child {margin-bottom: 0;}
.select--list.opened .select--list-items {display: block;opacity: 1;visibility: visible;box-shadow: 0 7px 8px rgba(34, 34, 34, 0.15);background-color: #fff;}
.select--list.opened .select--list-visible {border-bottom-left-radius: 0;border-bottom-right-radius: 0}
.select--list.opened {}
.select--list-visible {display: flex;align-items: center;justify-content: flex-start;padding: 0 20px;background-color: #fff;border-radius: 5px;cursor: pointer;height: 48px;line-height: normal;transition: .5s;border: 1px solid var(--border)}
.select--list.opened .select--list-visible {box-shadow: 0 4px 8px rgba(34, 34, 34, 0.25);}
.select--list-visible:hover {box-shadow: 0 4px 4px rgba(34, 34, 34, 0.05);}

/* Table sortable */
.table--sortable-headers {display: flex;margin-bottom: 12px;width: 100%}
.table--sortable-list {width: 100%}
.table--sortable {margin-right: 12px;background-color: var(--text-light);border-radius: 6px;padding: 0 9px;height: 22px;line-height: 22px;align-items: center;justify-content: center;cursor: pointer;transition: .5s;user-select: none}
.table--sortable:hover {transform: translateY(-1px)}
.table--sortable svg{width: 6px;height: 11px;margin-left: 4px;fill:var(--second-color)}
.table--sortable.--active{background-color: var(--second-color);color: var(--text-light)}
.table--sortable.--active svg{fill:var(--text-light)}
.table--sortable.--active[data-direction="asc"] svg{transform: rotate(180deg)}

.section--sdelka-item {display: flex}
.section--sdelka-item {background-color: var(--text-light);border-radius: 6px;display: flex;margin-bottom: 20px}
.section--sdelka-item:last-child {margin-bottom: 0}

.table--sortable-item {display: flex}

@media all and (max-width: 1680px) {
    

}



